.container {
  border: 1px solid color;
  border-radius: 10px;
}

.weatherApp {
  margin-top: 200px;
  max-width: 600px;
  padding: 20px;
}

li {
  list-style-type: none;
}

#listInfo {
  margin-left: -30px;
}

#listInfo2 {
  margin-top: -50px;
}

#icon {
  margin-top: 20px;
  margin-left: 20px;
  font-size: larger;
}

h5 {
  margin-right: 100px;
  margin-top: 20px;
}
